{% load static %}
<!-- Сообщаем браузеру как стоит обрабатывать эту страницу -->
<!DOCTYPE html>
<!-- Оболочка документа, указываем язык содержимого -->
<html lang="ru">
	<!-- Заголовок страницы, контейнер для других важных данных (не отображается) -->
	<head>
		<!-- Заголовок страницы в браузере -->
		<title>FLEXBOX</title>
		<!-- Адаптив -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
		<!-- Подключаем CSS -->
          <link rel="stylesheet" href="{% static 'main/css/style_main_menu.css'%}">
         <link rel="stylesheet" type="text/css" href="{% static 'main/dist/semantic.min.css'%}">



		<!-- Кодировка страницы -->
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width">

	</head>
	<!-- Отображаемое тело страницы -->
	<body>
		<div class="wrapper">
			<main class="page">
				<div class="main_screen">
					<div class="flex_container">
						<div class="left_menu">
							<div class="left_menu_row">
								<div class="left_menu_column">
								<div class="user">
									<div class="avatar-upload">
								        <div class="avatar-edit">
								            <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" />
								            <label for="imageUpload"></label>
								        </div>
								        <div class="avatar-preview">
								            <div id="imagePreview" style="background-image: url(http://i.pravatar.cc/500?img=7);">
								            </div>
								        </div>
								    </div>
								    <div class="text_name">
									<p class="user_user">пользователь</p>
									<p class="name">Борис Александров</p>
									</div>

								</div>

								<div class="line">

								</div>

								<div class="menu">
									<div class="title">Меню</div>
									<div class="menu_list">
										<ul>
											<li>Главная</li>
											<li>Диалоги</li>
											<li>История вызовов</li>
											<li>Профиль</li>
										</ul>
									</div>

								</div>

								<div class="line">
								</div>

								<div class="settings">
									<div class="title">
										Настройки
									</div>

									<a  href="#" class="set">Настройки</a>
								</div>


								<div class="footer_menu">
									<a  href="#" class="help">Помощь</a>

									<a  href="#" class="exit">Выйти из аккаунта</a>

								</div>

							</div>
							</div>
						</div>
						<div class="right_screen">
							<div class="right_screen_column">
								<div class="preview">
									<div class="preview_flex_container">
										<div class="preview_title_block">
											<h1>Инструкция </h1>

											<ul class="preview_list">
												<li>1. Пришел</li>
												<li>2. Увидел</li>
												<li>3. Победил</li>
											</ul>
										</div>
									</div>

								</div>

                                {% for h in help %}
                            <div class="doc_beuty">
								<div class="interface">
									<div class="patient_form">
										<div class="interface_container">
											<form class="patient_form_form"  action="." method="post">
                                            <div class="doctor_info">
                                                 {% csrf_token %}

                                                   <div><p>Имя:    {{ h.full_name }}</p></div>
                                                   <div><p>Номер телефона:   {{ h.number }}</p></div>
                                                   <div><p>Жалобы из списка:    {{ h.type_danger }}</p></div>
                                                    <div><p>Описание жалобы:    {{ h.problem }}</p></div>
                                                    <div><p>Адрес:     {{ h.address }}</p></div>




                                            </div>
												<button class="form-submit-btn" type="submit">Принять вызов</button>
											</form>
										</div>
									</div>
                                </div>
                            </div>
                        {% endfor %}


							</div>
						</div>
					</div>
				</div>
			</main>
		</div>
		<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="{% static 'main/js/avatar.js'%}"></script>
        <script src="{% static 'main/js/vendors.js'%}"></script>
        <script src="{% static 'main/js/main.js'%}"></script>

	<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
        <script src="{% static 'main/dist/semantic.min.js'%}"></script>
        <script src="{% static 'main/js/sema.js'%}"></script>
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/suggestions-jquery@20.3.0/dist/js/jquery.suggestions.js"></script>
         <script src="{% static 'main/js/suggest.js'%}"></script>
         <script src="{% static 'main/js/geo.js'%}"></script>
{#        <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>#}
{#      <script src="{% static 'main/js/delete.js'%}"></script>#}
	</body>
	</html>

