{% load static %}
<!-- Сообщаем браузеру как стоит обрабатывать эту страницу -->
<!DOCTYPE html>
<!-- Оболочка документа, указываем язык содержимого -->
<html lang="ru">
	<!-- Заголовок страницы, контейнер для других важных данных (не отображается) -->
	<head>
		<!-- Заголовок страницы в браузере -->
		<title>FLEXBOX</title>
		<!-- Адаптив -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
		<!-- Подключаем CSS -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:wght@100;200;300;400;500;600;700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=STIX+Two+Text:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Vollkorn:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Yeseva+One&family=Ysabeau+SC:wght@300;400;500;600;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'main/dist/semantic.min.css'%}">
        <link rel="stylesheet" href="{% static 'main/css/base_2.css'%}">
		<!-- Кодировка страницы -->
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	</head>
	<!-- Отображаемое тело страницы -->
	<body>
		<div class="wrapper">
			<div class="page">
				<header>
					<div class="container_head">
						<div class="header_flex">
							<div class="header_right">
								<div class="header_right_row">
									<div class="logo">
										<a href="#">  <img  src="{% static 'main/img/logo.png' %}" alt=""> </a>

									</div>

									<a class="title" href="#">Life-line </a>

									<div class="menu">
										<div class="menu_row">
											<a href="#content"> Главная </a>
											<a href="#about"> О нас </a>
											<a href="#about_2"> Контакты </a>
										</div>
									</div>
								</div>
							</div>
							<div class="header_left">
								<div class="header_left_row">
									<div class="burger">
										<span> </span>
									</div>
									<div class="icon">
										<div class="icon_row">
											<a href="https://vk.com/ogurec15" class="social-link1"> <img  src="{% static 'main/img/940987_vk_icon.png' %}" alt="">  </a>
											<a href="https://t.me/Empt_t1" class="social-link1">  <img  src="{% static 'main/img/3787425_telegram_logo_messanger_social_social media_icon.png' %}" alt="" class="bi bi-tg" >   </a>
											<a href="mailto:teamlifeline74@gmail.com" class="social-link1">  <img  src="{% static 'main/img/email (1).png' %}" alt="" class="bi bi-instagram">  </a>
											<a href="#"> </a>
										</div>
									</div>

									<button data-text="Awesome" class="button">
									    <span class="actual-text">&nbsp;Начать&nbsp;</span>
									    <span class="hover-text" aria-hidden="true">&nbsp;Начать&nbsp;</span>
									</button>
								</div>
							</div>
						</div>
					</div>
				</header>

				<div class="main-screen">
					<div class="container_main">
						<div class="main-screen_flex">
							<p class="preview">медецинский стартап</p>
							<h1>LIFE-LINE</h1>
							<p class="losung">Ваше здоровье - наш приоретет</p>
							<p class="about">Инвестрируйте в ваше здоровье</p>
							<div class="main-screen_btn">
								<a class="button2 first"  >Узнать подробнее</a>
								<a class="button2 second" href="#investor">Инвестировать</a>
							</div>
						</div>


                        <div class="popup">
							<div class="closeModal"></div>
							<div class="popup_card">
								  <div class="popup_card2">
								    <form method="post" class="popup_form" action=".">
                                        <h3 class="popup_card_head">Заказать демо приложения <span class="main_color">Life-Line</span></h3>
                                        <div class="popup_field">
                                            <label>
                                                <input  required="" type="text" class="popup_input-field name"  placeholder="Ваше имя" autocomplete="off" name="number_name">
                                            </label>
                                        </div>
                                        <div class="popup_field">
                                            <label>
                                                <input  required="" type="text" class="popup_input-field company"  placeholder="Компания или должность" autocomplete="off" name="company">
                                            </label>
                                        </div>
                                        <div class="popup_field">
                                            <label>
                                                <input  required="" type="email" class="popup_input-field email"  placeholder="Почта" autocomplete="off" name="email">
                                            </label>
                                        </div>

                                        <div class="popup_field">
                                            <label>
                                                <input  required="" type="tel" class="popup_input-field phone"  placeholder="Номер( 8 999 999 99 99)" autocomplete="off" name="number"
                                                pattern="[7-8]{1}[0-9]{3}[0-9]{3}[0-9]{2}[0-9]{2}">
                                            </label>
                                        </div>


                                        {% csrf_token %}
                                        <button class="popup_button3"  type="submit" name="submit" >Отправить демо версию приложения</button>
                                            <p class="popup_confirm">
                                                Нажимая кнопку "Запросить Демо", вы подтверждаете согласие с <a href="https://drive.google.com/drive/folders/1KvOraHTz82Ryej2iqXav1SW9fMWwpOM1?usp=drive_link">соглашением об использовании программы и даете согласие на обработку персональных данных.</a>
								</p>
								    </form>
								  </div>
                            </div>
						</div>




					<div class="mainblock__footer">
							<a href="#content" class="mainblock__arrow goto"> <img  src="{% static 'main/img/172458_down_arrow_icon.png' %}" alt=""></a>
						</div>

					</div>


				</div>

				<div  class="content">
					<div class="about_us" id="content">
						<div class="container">
							<div class="about_us_column" >
								<div class="about_us_text">
									<div class="about_us_text_column" >
										<p class="title_text title_size">Мы создаем приложение для вызова свободного медработника, рядом с пациентом. </p>

										<p class="blure_text blure_size">Такое решение снизит нагрузку на СМП, уменьшит время ожидания врача для пациентов, снизит расходы по выплатам ОМС, даст дополнительный заработок медработникам.</p>
									</div>
								</div>
								<div class="about_us_img">
								    <img  src="{% static 'main/img/4_hands_.png' %}" alt="">
								</div>

							</div>
						</div>
					</div>

					<section class="real_problem" id="about">
						<div class="container">
							<div class="real_problem_text">
								<div class="real_problem_column">
									<p class="real_problem_title title_size" >Продукт Life-Line решает реальные проблемы </p>
									<p class="real_problem_blure blure_size">Платформа Life-Line разработана командой российских специалистов  специально для решения
									актуальных проблем - задач российских государственных больниц</p>
								</div>
							</div>
						</div>
					</section>


					<section class="card_menu">
						<div class="container">
							<div class="card_menu_row">
								<div class="card_item">
								  <div class="card_menu_content">
									    <p class="heading">Для пациента
									    </p><p class="para">
									     Своевременное оказание качественной медицинской помощи.
									    </p>
									    <button class="btn"><a href="{% url "main:faq" %}">Читать подробнее</a></button>
									</div>
								</div>


								<div class="card_item">
								  <div class="card_menu_content">
									    <p class="heading">Для здравоохранения
									    </p><p class="para">
									     Оптимизация работы службы скорой медицинской помощи.
									    </p>
									    <button class="btn"><a href="{% url "main:faq" %}">Читать подробнее</a></button>
								    </div>
								</div>
								<div class="card_item">
								  <div class="card_menu_content">
									    <p class="heading">Для врача
									    </p><p class="para">
									     Свободный график, дополнительный доход.
									    </p>
									    <button class="btn"><a href="{% url "main:faq" %}">Читать подробнее</a></button>
								    </div>
								</div>
							</div>
						</div>
					</section>



					<section class="real_problem gray">
						<div class="container">
							<div class="real_problem_text">
								<div class="real_problem_column">
									<p class="real_problem_title title_size">Проект Life-Line </p>
									<p class="real_problem_blure blure_size">Простые, быстрые и наиболее выгодные решения.</p>
								</div>
							</div>
						</div>
						<section class="circle_info">
							<div class="container">
								<div class="circle_info_row">
									<div class="circle_item">
										<div class="circle_item_column">
											<div class="circle_item_img">
                                                 <img  src="{% static 'main/img/hands.png' %}" alt="">
											</div>
												<p class="circle_item_title">
												Система взаимодействия
											</p>
											<p class="circle_item_text">
												Наше решение в стиле Uber поможет привлечь врачей к сотрудничеству, а пациентов заинтересует скоростью предоставления услуг, при этом не требуя больших расходов.
											</p>

										</div>
									</div>
									<div class="circle_item">
										<div class="circle_item_column">
											<div class="circle_item_img">
                                                 <img  src="{% static 'main/img/mobile.png' %}" alt="">
											</div>
											<p class="circle_item_title">
												Удобное приложение
											</p>
											<p class="circle_item_text">
												В личном кабинете хранится медицинская карта пациента, где он в любое время может посмотреть результаты приема и назначения врача.
Связаться с доктором можно через сообщения или аудио/видеозвонок, а если есть необходимость вызвать врача на дом, то благодаря картам Openstreet maps, приложение выстроит кратчайшие маршруты до необходимой точки.
											</p>

										</div>
									</div>
									<div class="circle_item">
										<div class="circle_item_column">
											<div class="circle_item_img">
												 <img  src="{% static 'main/img/goal.png' %}" alt="">
											</div>

                                            <p class="circle_item_title">
												Перспективы
											</p>
											<p class="circle_item_text">
												Молодая и амбициозная команда готовая работать на благо проекта: мы следим за новостями, последними трендами, учитываем опыт Российских и иностранных коллег, а так же взаимодействуем с экспертами из разных сфер для того чтобы улучшать и продвигать нашу идею.
											</p>

										</div>
									</div>


								</div>
							</div>
						</section>
					</section>

					<section class="investor">
						<div class="container">
							<div class="investor_area" id="investor">
								<div class="investor_area_column">
									<p class="investor_title title_size">
										Инвестор? Оставляйте почту и присоединяйтесь к нам! Мы вышлем презентацию  с подробностями.
									</p>
									<form class="investor_form"  method="post">
										<div class="investor_form_row">
											<input required="" placeholder="Email Address" type="email" id="input-field" name="em">
                                             {% csrf_token %}
											<button class="investor_button"><span>Отправить презентацию
											</span></button>
										</div>
									</form>


								</div>
							</div>
						</div>

					</section>


					<section class="contact" id="about_2">
						<div class="container">
							<div class="contact_contact" >
								<div class="contact_column">
									<p class="contact_title title_size" >
										Наши контакты
									</p>
									<p class="contact_about">

									</p>
									<div class="contact_row" >
										<div class="contact_cards">
											<div class="contact_cards_row">
												<div class="contact_cards_item">
													<div class="contact_cards_item_column">
														<div class="bg"></div>
														<div class="blob"></div>
														<div class="contact_cards_item_img">
                                                             <img  src="{% static 'main/img/2674096_object_email_web_essential_icon.png' %}" alt="">
														</div>
														<p class="contact_cards_item_title">
															Email
														</p>
														<p class="contact_cards_item_about">
															Наша дружная команда готова помочь.
														</p>
														<a href="#" class="contact_cards_item_email">
															teamlifeline74@gmail.com
														</a>
													</div>
												</div>
											</div>
										</div>

										<div class="contact_cards">
											<div class="contact_cards_row">
												<div class="contact_cards_item">
													<div class="contact_cards_item_column">
														<div class="bg"></div>
														<div class="blob"></div>
														<div class="contact_cards_item_img">
                                                             <img  src="{% static 'main/img/9025961_telegram_logo_icon.png' %}" alt="">
														</div>
														<p class="contact_cards_item_title">
															Telegram
														</p>
														<p class="contact_cards_item_about">
															Наша дружная команда готова помочь.
														</p>
														<a href="https://t.me/Empt_t1" class="contact_cards_item_email">
															Телеграм
														</a>

													</div>
												</div>
											</div>
										</div>

										<div class="contact_cards">
											<div class="contact_cards_row">
												<div class="contact_cards_item">
													<div class="contact_cards_item_column">
														<div class="bg"></div>
														<div class="blob"></div>
														<div class="contact_cards_item_img">
                                                             <img  src="{% static 'main/img/9034990_logo_vk_icon.png' %}" alt="">
														</div>
														<p class="contact_cards_item_title">
															Вконтакте
														</p>
														<p class="contact_cards_item_about">
															Наша дружная команда готова помочь.
														</p>
														<a href="https://vk.com/ogurec15" class="contact_cards_item_email">
															Вконтакте
														</a>
													</div>
												</div>
											</div>
										</div>
									</div>

								</div>
							</div>
						</div>

					</section>



					<section class="accord">
						<div class="container ac">
							<div class="accord_accord">
								<div class="accord_column">
									<p class="accord_title title_size"> Часто задаваемые вопросы </p>
									<div class="ui accordion">
									  <div class="title">
									    <i class="dropdown icon"></i>
									   Можно ли быть уверенным в
                                        компетенции медицинского
                                        работника?
									  </div>
									  <div class="content">
									    <p class="transition hidden">Да, для регистрации в приложении медицинский
                                            работник прикрепляет те же документы, что
                                            требуются для трудоустройства в любое
                                            медицинское учреждение (документы
                                            удостоверяющие личность, документы об
                                            образовании, сертификаты, медицинскую книжку,
                                            справку об отсутствии судимости).</p>
									  </div>


									  <div class="title">
									    <i class="dropdown icon"></i>
									    Как защищены пользователи приложения с юридической точки зрения.
									  </div>
									  <div class="content">
									    <p>Права граждан в данном вопросе
                                            регулируются теми же документами, что и
                                            при любой медицинской деятельности, в
                                            том числе ФЗ «об основах охраны
                                            здоровья граждан в РФ»..</p>
									  </div>


									  <div class="title">
									    <i class="dropdown icon"></i>
									   Будет ли где-то храниться
                                        информация о прошедшем
                                        посещении врача?
									  </div>
									  <div class="content">
									    <p>Пациенты при регистрации в приложении
                                        указывают номер своего полиса ОМС (или
                                        номер полиса ребенка), все вызовы и
                                        заметки врача будут отображаться в
                                        медицинской информационной системе
                                        Барс.</p>
									  </div>

                                     <div class="title">
									    <i class="dropdown icon"></i>
									   Какое оборудование будут
                                        иметь при себе врачи?
									  </div>
									  <div class="content">

									    <p>В обязательном порядке врач будет иметь при
                                        себе маску, перчатки, тонометр, стетоскоп и
                                        медицинский шпатель.</p>
									  </div>

								  </div>
								</div>
							</div>
						</div>
				</section>


				</div>

				<footer>
					<div class="container">
						<div class="footer_up">
							<div class="footer_up_row">
								<div class="footer_up_item">
									<div class="footer_up_item_column">
										<p class="footer_up_title">
											Команда Life-Line
										</p>
										<div class="footer_up_list">
											<ul>
                                                <li class="team"> <a href="{% url "main:team" %}">Команда</a></li>


											</ul>
										</div>

									</div>
								</div>
								<div class="footer_up_item">
									<div class="footer_up_item_column">
										<p class="footer_up_title">
											Документы Life-Line
										</p>
										<div class="footer_up_list">
											<ul>
												<li class="team">  <a href="https://drive.google.com/drive/folders/1KvOraHTz82Ryej2iqXav1SW9fMWwpOM1?usp=drive_link">Документы</a></li>

											</ul>
										</div>

									</div>
								</div>
{#								<div class="footer_up_item">#}
{#									<div class="footer_up_item_column">#}
{#										<p class="footer_up_title">#}
{#											SEE OTHER BOOKS#}
{#										</p>#}
{#										<div class="footer_up_list">#}
{#											<ul>#}
{#												<li>Bestsellers</li>#}
{#												<li>All books</li>#}
{#												<li>Our authors</li>#}
{#												<li>Our authors</li>#}
{#											</ul>#}
{#										</div>#}
{##}
{#									</div>#}
{#								</div>#}
							</div>

						</div>
						<div class="footer_down">
							<div class="footer_down_row">
								<p class="footer_down_footer">© 2023 Life-line </p>
							</div>
						</div>
					</div>

				</footer>

			</div>
		</div>

	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="{% static 'main/js/vendors.js'%}"></script>
    <script src="{% static 'main/js/main.js'%}"></script>
	<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
        <script src="{% static 'main/dist/semantic.min.js'%}"></script>
    <script src="{% static 'main/js/sema_1.js'%}"></script>
	</body>
	</html>